#token-manager {
  position: absolute;
  top: 50%;
  right: 0;
  z-index: 100000;
  background-color: #424549;
  display: flex;
  flex-direction: row;
  padding: 15px;
  gap: 10px;
  border-bottom-left-radius: 10px;
  border-top-left-radius: 10px;
  align-items: center;
}

.tm_movable_edge {
  cursor: grab;
  height: 100%;
  color: #fff;
}

.tm_container {
  display: flex;
  justify-content: space-between;
  gap: 10px;
  width: fit-content;
  overflow-x: hidden;
  transition: all 0.2s;
  width: 250px;
}

.tm_hidden {
  width: 0;
}

.tm_input {
  border: 1px solid transparent;
  color: #fff;
  margin: 0 auto;
  padding: 3px 7px;
  border-radius: 7px;
  transition: all 0.3s;
  background-color: #2c2d37;
  color: #d7d7d7;
  width: 100%;
}

.tm_input::placeholder {
  text-transform: uppercase;
}

.tm_input:focus {
  border-color: #5865f2;
}

.tm_button {
  border-radius: 7px;
  border: 3px solid #5865f2;
  background-color: #5865f2;
  color: #fff;
  margin: 0;
  padding: 5px 15px;
  width: fit-content;
  text-transform: uppercase;
  transition: all 0.3s;
  cursor: pointer;
  white-space: nowrap;
}

.tm_button:hover {
  background-color: #4752c4;
  border-color: #4752c4;
  color: #fff;
}

.tm_border_success {
  border-color: #2a9d8f !important;
}

.tm_border_error {
  border-color: #e63946 !important;
}

.tm_contact_box {
  display: flex;
  align-items: center;
}

.tm_contact_box_link {
  text-decoration: none;
  color: #fff;
}
